html,body {
    position: relative;
    margin: 0;
    padding: 0;
    background: url(../images/login_bg.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.layui-main{
    padding-top: 20px;
}
/* 登陆注册盒子 */
.login_reg_box {
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* 登陆注册标题盒子 */
.title_box {
    height: 60px;
    background: url(../images/login_title.png) no-repeat center;
}
.links {
    display: flex;
    justify-content: flex-end;
}
.reg_box {
    display: none;
}

.layui-form {
    padding: 0 30px;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}
.layui-form-item .layui-input {
    padding-left: 30px;
}

